<h1>Editando Perfil Externo</h1>

<%= form_for @perfil_externo do |f| %>

  <div><%= f.label :nome %><br />
  <%= f.text_field :nome %></div>

  <div><%= f.label :link %><br />
  <%= f.text_field :link %></div>

  <div><%= f.submit "Atualizar!" %></div>
 <% end %>

<td><%= link_to 'Ver', @perfil_externo %></td> |
<td><%= link_to 'Voltar', "/grupos" %></td>
