<h1>Grupo#index</h1>

<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.getUsers %></td>
        <td><%= grupo.descricao %></td>
        <td><%= link_to 'Ver', "/grupos/#{grupo.id}" %></td>
        <td><%= link_to 'Editar', "/grupos/#{grupo.id}/edit" %></td>
        <td><%= link_to 'Apagar', "/grupos/#{grupo.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Grupo', '/grupos/new' %>
