<h1>Grupos</h1>

<table>

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	  <%if @grupos.count > 0%>
	    <% @grupos.each do |grupo| %>
      <tr>

		<th>Nome:</th>
        <td><%= grupo.nome %></td>
		 <th>Descricao:</th>
        <td><%= grupo.descricao %></td> <th> | </th>
        <td><%= link_to 'Ver', "/grupos/#{grupo.id}" %></td>

        	<% if eh_moderador(current_user, grupo) %>
				<% end %>

				<% if eh_mebro_do_grupo(current_user, grupo) %>
					<td><%= link_to 'Quero sair', "/grupos/sair/#{grupo.id}", data: { confirm: 'Are you sure?' } %></td>
				<% else %>

					<% if !essa_solicitacao_existe(current_user, grupo) %>
						<td><%= link_to 'Quero entrar', "/grupos/solicitar/#{grupo.id}", data: { confirm: 'Are you sure?' } %></td>
					<% else %>
						<td>Solicitacao enviada</td>
					<% end %>

				<% end %>

      </tr>
    <% end %>
	<%else%>
		<p>Você não participa de nenhum grupo!</p>
	<%end%>

  </tbody>
</table>

<br>

<%= link_to 'Novo Grupo', '/grupos/new' %>
