<% @grupo.getUsers.each do |user| %>
  <tr>
	  <p>Nick: <%= user.getNick %></p>
	  <% if user.getAvatarThumb.split('missing').last.to_s != ".png" %>
	     <p>Foto: <%= image_tag user.getAvatarThumb %></p>
	  <%else%>
	     <div> <p>Foto: <img src="https://image.flaticon.com/icons/svg/50/50050.svg" style="width:80px;height:80px" > </div>
	  <%end%>
	  <td><%= link_to 'Visualizar', controller: "user", action: "viewUser", id: current_user.id, idUser: user.id %></td>
	  <td><%= link_to 'Remover Membro', "/grupos/removerUsuario/#{@grupo.id}/#{user.id}" %></td>
	  <%if eh_moderador(current_user, @grupo)%>
		  	<% if !eh_moderador(user, @grupo) %>
		  		<td><%= link_to "Atribuir Moderação", "/grupos/#{@grupo.id}/addModerador/#{user.id}" %></td>
			<% elsif (eh_moderador(user, @grupo)) %>
				<td><%= link_to "Remover Moderação", "/grupos/#{@grupo.id}/removerModeracao/#{user.id}" %></td>
		  	<% end %>
	  <%end%>
  </tr>
<% end %>

<br>
<br>
<td><%= link_to 'Voltar', "/grupos/#{@grupo.id}" %></td>
