<%= link_to 'New Post', new_post_path %><br>

<% @posts.each do |post| %>
	<%= @post = post %>

	<tr>
		<%= render 'post_render', post: @post %>
		<td><%= link_to 'Show', post %></td>
		<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Tem certeza?' } %></td><br><br>
	</tr>
<% end %>
