<h1>Mural do usuario <%= @user.getNick %> </h1>
<%= link_to 'Novo Post', new_post_path %><br><br>


<% @posts.each do |post| %>
  <tr>
	<td><span>titulo: </span><%= post.titulo %></td><br>
	<td><span>categoria: </span><%= post.categoria %></td><br>
	<td><span>texto: </span><%= post.texto %></td><br>
	<td><span>usuario: </span><%= post.user.getNick %></td><br>
	<td><%= link_to 'Show', post, id: "mostra-#{post.titulo}" %></td>
	<td><%= link_to 'Edit', edit_post_path(post), id: "edita-#{post.titulo}" %></td>
	<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Tem certeza?' }, id: "deleta-#{post.titulo}" %></td><br><br>
  </tr>
<% end %>
