<h1>Meu Perfil</h1>

<ul>
	<li>
		<%= link_to "Buscar um usuario", controller: "user", action: "index", id: current_user.id%>
	</li>
 	<li>
	 	<%= link_to "Pedidos pendentes", controller: "user", action: "list", id: current_user.id%>
  	</li>
  	<li>
		<%= link_to "Ver amigos", controller: "user", action: "listFriends", id: current_user.id%>
   	</li>
</ul>

<ul>
	<li>
		<%= link_to "Buscar grupo", controller: "grupo", action: "index" %>
	</li>
	<li>
		<%= link_to "Meus grupos", controller: "grupo", action: "gruposDe" %>
	</li>
	<li>
		<%= link_to "Criar Grupo", controller: "grupo", action: "new" %>
	</li>
</ul>

<%= link_to "Ver perfis externos", controller: "perfil_externos", action: "show"%>

<a href="/home">Home</a>

<p>ID: <%= @user.id %></p>
<p>Nome: <%= @user.nome %></p>
<p>Nick: <%= @user.getNick %></p>
<p>Email: <%= @user.email %></p>
<p>Descrição: <%= @user.descricao %></p>

<!-- Se n estiver com foto, coloca uma padrão -->
<% if @user.getAvatarThumb.split('missing').last.to_s != ".png" %>
   <p>Foto: <%= image_tag @user.getAvatarThumb %></p>
<%else%>
   <div> <p>Foto: <img src="https://image.flaticon.com/icons/svg/50/50050.svg" style="width:80px;height:80px" > </div>
<%end%>

<br>
<%= link_to "Editar", edit_user_registration_path %>
<%= link_to 'Voltar', root_path %><br>
<%= link_to 'Deslogar', destroy_user_session_path, method: :delete %>
