<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, :novalidate => 'novalidate'}) do |f| %>

  <%= devise_error_messages! %>

  <div class="field">
     <%= f.label :nome %><br/>
     <%= f.text_field :nome, autofocus: true, autocomplete: "name" %>
  </div> <br/>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
  </div> <br/>

  <div class="field">
    <%= f.label :senha %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div> <br/>

  <div class="field">
    <%= f.label :confirme_a_senha %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div> <br/>

  <div class="field">
     <%= f.label :descricao %><br/>
     <%= f.text_field :descricao, autofocus: true %>
  </div> <br/>

  <div class="field">
    <%= f.file_field :avatar %>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>

  </div>

  <div class="field">
    <%= f.label :senha_atual %> <i>(Coloque aqui sua senha atual!)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>


<h3>Apagar minha conta?</h3>

<p>Tem certeza? <%= button_to "APAGAR MINHA CONTA", registration_path(resource_name), data: { confirm: "Tem certeza???" }, method: :delete %></p>

<%= link_to "Back", :back %>
