<p>
	<strong>Titulo:</strong>
	<%= @post.titulo %>
</p>

<p>
	<strong>Categoria:</strong>
	<%= @post.categoria %>
</p>

<p>
	<strong>Texto:</strong>
	<%= @post.texto.to_s %>
	<div id="textoC"></div>
	<script type="text/javascript">
		//interpretar(``, "textoC")
	</script>
</p>

<p>
	<strong>User:</strong>
	<%= @post.user.getNick %>
</p>


<% case @post.categoria
when "Simples" %>

	<% when "Questionario" %>
	<h1>Ainda nao implementado</h1>
	<% when "Imagem" %>
		<div style="height: 400px;width: 50%;background-color: powderblue;" >
			<%= image_tag @post.getImagem, id: 'imagemPost' %>
		</div>
	<% when "Slides" %>
	<h1>Ainda nao implementado</h1>
	<% when "Arquivo" %>
	<h1>Ainda nao implementado</h1>
	<% when "Link" %>
	<h1>Ainda nao implementado</h1>
	<% when "Youtube" %>

	<%
		require "uri"
		@links = URI.extract(@post.texto)
	%>

	<% @links.each do |lk| %>
		<% if lk.include? "youtube"  %>
			<% link = "http://www.youtube.com/embed/" + lk.split('=').last %>
			<%= content_tag(:iframe, '', src: link.to_s,
				width: 560, height: 315, frameborder: 0) %>
		<% else %>
			<% link = "http://www.youtube.com/embed/" + lk.split('/').last %>
			<%= content_tag(:iframe, '', src: link.to_s,
				width: 560, height: 315, frameborder: 0) %>
		<% end %>

	<% end %>
	<% end %>
