<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @post.categoria %>
</p>

<p>
  <strong>Texto:</strong>
  <div id="textoC"></div>
  <script type="text/javascript">
	interpretar(`<%= @post.texto.to_s %>`, "textoC")
  </script>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.getNick %>
</p>

<%= link_to 'Edit', edit_post_path(@post), id: "edita-#{@post.titulo}" %> |
<%= link_to 'Back', '/home' %>
